.nav {
    width: 256px;
    z-index: 7;
    position: sticky;
    top: 0;
    align-self: flex-start;
    flex-shrink: 0;
    width: 272px;
    padding-top: 27px;
    padding-left: 32px;
    padding-bottom: 32px;
    transition: left .4s;
    box-sizing: border-box;
    transition: all .4s;

    @media (max-width:1240px) {
        position: fixed;
        left: -100%;
    }

    .logo {
        display: flex;
        margin-bottom: 32px;
        a {
            font-family: "Poppins";
            color: #ff2e38;
            font-size: 18px;
            transition: color 0.4s;
            cursor: pointer;
            text-decoration: none;
            img{
                margin-left: -10px;
                width: 200px;
            }
        }
    }
    ul {
        margin-top: 40px;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;

        li {
            line-height: 1;
            list-style: none;
            margin-top: 24px;
            a {
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                font-size: 14px;
                line-height: 1;
                &:hover svg {
                    color: #fff;
                }
                &:hover span {
                    color: #fff;
                }
                svg {
                    margin-right: 12px;
                    color: #999;
                    transition: color 0.4s;
                    width: 24px;
                    height: 24px;
                }
                span {
                    margin-right: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #999;
                    transition: color 0.4s;
                    font-family: "Poppins";
                }
            }
        }
        li:first-of-type {
            margin-top: 0 !important;
        }
    }
    .secondUl {
        li {
            margin-top: 24px;
            span {
                font-size: 14px;
                font-weight: 500;
                line-height: 1;
                text-transform: capitalize;
            }
        }
    }
    .close{
        display: none;
    }
}


 .navactive{
    height: 100%;
    background-color: #000;
    width: 100%;
    z-index: 9997;
    position:fixed;
    top: 0;
    align-self: flex-start;
    flex-shrink: 0;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    width: 100% ;
    transition: all .4s;
    box-sizing: border-box;
    .close{
        svg{
            color: #fff;
        }
    }
    .logo {
        display: none;
        margin-bottom: 32px
    }
    ul {
        margin-top: 40px;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;

        li {
            line-height: 1;
            list-style: none;
            margin-top: 24px;
            a {
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                font-size: 14px;
                line-height: 1;
                &:hover svg {
                    color: #fff;
                }
                &:hover span {
                    color: #fff;
                }
                svg {
                    margin-right: 12px;
                    color: #999;
                    transition: color 0.4s;
                    width: 24px;
                    height: 24px;
                }
                span {
                    margin-right: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 14px;
                    color: #999;
                    transition: color 0.4s;
                    font-family: "Poppins";
                }
            }
        }
        li:first-of-type {
            margin-top: 0 !important;
        }
    }
    .secondUl {
        li {
            margin-top: 24px;
            span {
                font-size: 14px;
                font-weight: 500;
                line-height: 1;
                text-transform: capitalize;
            }
        }
    }

}

.mobile {
    display: flex;

    @media (max-width: 1240px) {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        justify-content: space-between;
        align-items: center;
        padding: 13px 0;
        background-color: #2e2e2e;
        z-index: 2;
    }
    justify-content: space-between;
    .mobilemenu {
        padding: 0 16px;
        .burger{
            svg{
                color: #fff;
            }
        }
        @media (min-width: 1241px) {

            display: none !important;
        }
    }
    .mobilelogo {
        img{
            width: 150px;
        }
        @media (min-width: 1241px) {
           
            display: none !important;
        }
    }
}


.login {
    padding-left: 32px;
    display: flex;
    align-items: center;
    @media(min-width:1240px){
        display: none;
    }
    button {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        border: none;
        background: 0 0;
        cursor: pointer;
    }
    svg {
        color: #ff2e38;
        width: 24;
        height: 24;
        transition: color 0.4s;
        @media (max-width:1240px) {
            padding:0  16px;
            color: #fff;
        }
    }
    span {
        display: block;

        margin-left: 10px;
        font-family: "poppins";
        font-weight: 600;
        font-size: 14px;
        white-space: nowrap;
        color: #999;
        transition: color 0.4s;
        @media (max-width: 1240px) {
            display: none !important;
        }
    }
}