.ticketingIsActive {
    left: 0;
    top: 0;
    transition-delay: 0s;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: top 0s;
    position: fixed;
    z-index: 8;
    > span {
        top: 0;
        opacity: 1;
        transition:
            opacity 0.4s,
            top 0s;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(8px);
        // opacity: 0;
        // transition:
        //     opacity 0.4s,
        //     top 0s ease 0.4s;
    }
}

.isnotopen {
    left: 0;
    transition-delay: 0s;
    width: 100%;
    top: -100%;
    height: 100%;
    overflow: hidden;
    transition: top 0s;
    position: fixed;
    z-index: 8;
    opacity: 0;
    transition:
        opacity 0.2s,
        top 0s ease 0.4s;
}
.notticketing {
    right: -1000px;
    .container {
        transform: translateX(100%);
    }
}
.ticketing {
    width: 700px;
    top: 0;
    transition-delay: 0s;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: top 0.2s;
    transition-delay: 0.4s;
    z-index: 8;
    .container {
        transform: translateX(0);
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-width: none;
        scroll-behavior: smooth;
        box-shadow: 0px 0px 8px #0a0a0a;
        background-color: #121212;
        transition:
            max-width 0.4s,
            padding-bottom 0.4s,
            transform 0.4s;
        z-index: 1;
        @media (min-width: 641px) {
            max-width: 700px;
        }

        .movie {
            position: relative;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            height: 208px;
            .foreground {
                flex-grow: 1;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                padding-left: 32px;
                padding-right: 32px;
                box-sizing: border-box;
                transition:
                    max-width 0.4s,
                    padding-left 0.4s,
                    padding-right 0.4s;
                h2 {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: "poppins";
                    font-size: 28px;
                    font-weight: 500;
                    color: #fff;
                }
                span {
                    display: flex;
                    align-items: center;
                    margin-top: 4px;
                    margin-left: 8px;
                    font-family: "poppins";
                    font-size: 12px;
                    font-weight: 600;
                    color: #999;
                }
                .scrim {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 240px;
                    background: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, #121212 100%);
                    z-index: -1;
                }
            }
            .background {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 240px;
                overflow: hidden;
                z-index: -2;
                img {
                    position: absolute;
                    left: 50%;
                    width: 768px;
                    transform: translateX(-50%);
                }
                .scrimleft {
                    left: 50%;
                    margin-left: -384px;
                    background: linear-gradient(-90deg, rgba(18, 18, 18, 0) 0%, #121212 100%);
                    position: absolute;
                    top: 0;
                    width: 140px;
                    height: 100%;
                }
                .scrimright {
                    right: 50%;
                    margin-right: -384px;
                    background: linear-gradient(90deg, rgba(18, 18, 18, 0) 0%, #121212 100%);
                    position: absolute;
                    top: 0;
                    width: 140px;
                    height: 100%;
                }
            }
        }
    }
}

.session {
    flex-shrink: 0;
    width: 100%;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    overflow: hidden;
    transition: max-width 0.4s;

    > div {
        padding-left: 32px;
        padding-right: 28px;
        transition:
            padding-left 0.4s,
            padding-right 0.4s;

        .wrapper {
            transform: translate3d(0px, 0px, 0px);
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;
            > div {
                flex-shrink: 0;
                width: 100%;
                height: 100%;
                position: relative;
                transition-property: transform;
                button {
                    width: calc(100% - 8px);
                    transition:
                        width 0.4s,
                        opacity 0.4s,
                        background-color 0.4s;
                    background-color: #383838;
                    position: relative;
                    display: block;
                    padding: 0;
                    border: 0;
                    border-radius: 4px;
                    overflow: hidden;
                    text-decoration: none;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        width: 4px;
                        border-radius: 4px 0 0 4px;
                        background-color: #cd242c;
                    }
                    > span {
                        display: flex;
                    }
                    .attr {
                        display: flex;
                        flex-wrap: wrap;
                        padding-left: 20px;
                        padding-right: 12px;
                        padding-bottom: 8px;
                        font-family: "poppins";
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 1;
                        text-transform: uppercase;
                        color: #999;
                        span {
                            margin-right: 4px;
                            white-space: nowrap;
                            color: #fff;
                            font-family: "poppins";
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 1;
                            text-transform: uppercase;
                        }
                    }
                    .time {
                        padding: 10px 16px 6px 20px;
                        font-family: "poppins";
                        font-weight: 600;
                        line-height: 1;
                        color: #dedede;
                        text-transform: uppercase;
                        white-space: nowrap;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;
    margin: 0;
    padding: 0;
    border: none;
    background: 0 0;
    color: #cd242c;
    cursor: pointer;
    transition: color 0.4s;
    z-index: 1;
}

.step {
    flex-grow: 1;
    flex-shrink: 0;
    > div {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        h3 {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            max-width: 700px;
            margin-top: 24px;
            margin-bottom: 0;
            padding-left: 32px;
            padding-right: 32px;
            margin-left: auto;
            margin-right: auto;
            box-sizing: border-box;
            span {
                font-family: "poppins";
                font-size: 16px;
                font-weight: 600;
                color: #dedede;
            }
            button {
                margin: 0;
                padding: 0;
                border: none;
                font-family: "poppins";
                font-size: 12px;
                font-weight: 600;
                color: #cd242c;
                background: 0 0;
                transition: color 0.4s;
                cursor: pointer;
            }
        }
    }
}

.seats {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    @media (min-width: 641px) {
        padding-left: 32px;
        padding-right: 32px;
    }

    height: auto;
    opacity: 1;
    .map {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        .border {
            position: relative;
            transition: margin-bottom 0.4s;
            > div {
                overflow: hidden;
                transition: border-radius 0.4s;
                > div {
                    width: 100%;
                    margin-left: 0%;
                    margin-right: 0%;
                    box-sizing: border-box;
                    .screen {
                        position: relative;
                        border-top: 3px solid #242424;
                        .name {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            display: block;
                            font-family: "poppins";
                            font-size: 10px;
                            font-weight: 600;
                            text-transform: uppercase;
                            color: #999;
                            transform: translateX(-50%) translateY(-50%);
                        }
                        .bor {
                            display: block;
                            border-top: 30px solid #000;
                            border-left: 20px solid transparent;
                            border-right: 20px solid transparent;
                        }
                    }
                }
            }
        }
    }
}

.seatGrid {
    display: grid;
    margin-top: 25px;

    div {
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover span {
            background-color: #cd242c !important;
        }
        span {
            position: relative;
            transition: 0.4s;
            width: 10px;
            height: 10px;
            margin-top: 6px;
            background-color: #999;
            padding: 2px 2px;
            display: inline-block;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 100%;
                margin-top: 1px;
                bottom: 0;
                right: 0;
                border-top: 3px solid #999;
                border-left: 2px solid transparent;
                border-right: 2px solid transparent;
            }
        }
    }
    .selected span {
        background-color: #cd242c !important;
    }

    .reserved span {
        background-color: #000 !important;
    }

    .reserved {
        &:hover span {
            background-color: #000 !important;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: var(--ticketing-width);
    padding: 32px;
    box-sizing: border-box;
    transform: translateX(0) translateY(0);
    opacity: 1;
    background-color: #121212;
    box-shadow: 0px 0px 8px #0a0a0a;
    transition:
        opacity 0.4s,
        max-width 0.4s,
        transform 0.4s;
    z-index: 2;
    button {
        border: 1px solid #f04249;
        border-radius: 4px;
        font-family: "poppins";
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background-color: #cd242c;
        transition:
            border-color 0.4s,
            background-color 0.4s,
            opacity 0.4s;
        padding: 16px 24px;
        font-size: 14px;
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
}
.footerr {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    transform: translateY(100%);
    opacity: 0;
    overflow: hidden;
    background-color: #121212;
    box-shadow: 0px 0px 8px #0a0a0a;
    transition:
        opacity 0.4s,
        max-width 0.4s,
        transform 0.4s;
    z-index: 2;
    button {
        border: 1px solid #f04249;
        border-radius: 4px;
        font-family: "poppins";
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        background-color: #cd242c;
        transition:
            border-color 0.4s,
            background-color 0.4s,
            opacity 0.4s;
        padding: 16px 24px;
        font-size: 14px;
        display: block;
        width: 100%;
        max-width: calc(var(--ticketing-width) - 64px);
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
}
