.add {
    margin-top: 30px;
    > h3 {
        font-family: "Poppins";
        color: #582eff;
        font-size: 20px;
        transition: color 0.4s;
        cursor: pointer;
        text-decoration: none;
    }
    form {
        display: flex;
        width: 600px;
        margin: 0 auto;
        gap: 15px;
        flex-direction: column;
    }
    div { > div {
        border: 1px solid #dedede;
    }
        border-radius: 10px;
    }
   
    input {
        color: #dedede;
    }
    label {
        color: #dedede;
    }
}

.desc{
    textarea{color: #fff!important;
}}